@charset "utf-8";
body { 

}
#chot_road #tree_up_down {
	margin: 0;
	padding: 0;
}

#chot_road #tree_up_down span {
	border-left:2px solid #F37934;
	border-right:2px solid #F37934;
}
#chot_road #tree_up_down span:before{
	content:' ';
}
#chot_road #roadmap i {
	font-size: 2em;
}
#chot_road #roadmap .row:nth-of-type(odd) {
	background-color: #EFEFEF;
}

#chot_road #roadmap .row:nth-of-type(even) {
	text-align: right;
}

#chot_road #roadmap .row:nth-of-type(odd) {
	text-align: left;
}

#chot_road #roadmap #add_corder:nth-of-type(odd) {
	border-right:2px solid #F37934;
}

#chot_road #roadmap #add_corder:nth-of-type(even) {
	border-left:2px solid #F37934;
}

#chot_road #roadmap .row:nth-of-type(even) div div, #chot_road #roadmap .row:nth-of-type(odd) div div {
	position: absolute;
	top: 1em;
}

#chot_road #roadmap .row:nth-of-type(even) div div {
	left: 2em;
}

#chot_road #roadmap .row:nth-of-type(odd) div div {
	right: 2em;
}

#chot_road #roadmap .row:nth-of-type(even) i {
	color: #EFEFEF !important;
}

#tree_up {
	padding:0;
	margin:0;
}

#tree_row {
	height: 5px;
	width: 2em;
	top: 1.3em !important;
	background-color: #F37934;
}

#chot_body .fa, #chot_road i {
    width: 1.5em !important;
    height: 1.5em !important;
    position: static !important;
    background-color: #F37934 !important;
}

#chot_road #roadmap .row:nth-of-type(odd) #tree_row {
	right: -2em;
}
#chot_road #roadmap .row:nth-of-type(even) #tree_row {
	left: -2em;
}


a, a:hover {
	color: #F37934;	
}

.container {
	/* margin-top: 2em; */
}

#add_margin i {
	font-size: 4em;
	background-clip: content-box;
}

.jumbotron {
	margin-top:55px;
	color: #FFFFFF;
	background-image: url(../../files/images/header-bg.jpg);
	background-size: cover;
}

.jumbotron a {
	margin-left: 5px;
	margin-right: 5px;
}

.jumbotron h1{
	text-shadow: -1px -1px 0 #F37934, 1px -1px 0 #F37934, -1px 1px 0 #F37934, 1px 1px 0 #F37934;
}

#download .btn{
	width: 100%;
	color: #FFFFFF;
	border-color: #FFC107;
}

#download .btn-warning, #download .btn-warning:hover {
	background-color: #F37934;
}


#chot_body #download .fa {
	background-color: inherit !important;
}

#contact_info {
	background-color: #222222;
	color: #FFFFFF;
	background-image: url(../../files/images/map-image.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#contact_info p {
	line-height: 1.75;
	padding: 100px 0;
}
